h1 {
    color: red;
}
h2 {
    color: blue;
}
h3 {
    color: orange;
}
a:link{
    color: black;
}
a:hover{
    color: #e91063;
}
a:visited{
    color:gray;
}
a{
    text-decoration: none;
    border-right-style: dashed;
    border-right-width: thin;
    border-right-color: forestgreen;
    padding-right: 1px;
}
div#Recently{
    border-color: black;
    border-width: thin;
    border-style: dashed;
    width: 350px;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    margin-left: 50px;
    text-align:justify;
    line-height: 150%;
}
div#TableContain1, div#TableContain2, div#TableContain3{
    display: table;
}
div#Row11, div#Row21, div#Row22, div#Row23, div#Row31{
    display: table-row;
}
div#Column11, div#Column12{
    display: table-cell;
}

div#Cell211, div#Cell212, div#Cell221, div#Cell222, div#Cell231, div#Cell232, div#Cell311, div#Cell312{
    display: table-cell;
}